<% if (errores) { %>
    <ul class="error-container">
        <% errores.array().forEach(error => { %>
            <% if (error.msg !== "Invalid value") { %>
                <li class="error-item">
                    <span><%= error.msg %></span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-x-lg closeBtn" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </li>
            <% } %>
        <% }) %>
    </ul>
<% } %>

<% if (messages) { %>
    <div class="notice-container">
      <%- messages() %>
    </div>
<% } %>


<div class="contenedor-formulario contenedor-formularios-editar">
    <div class="contenedor-btn-volver max-width-500">
        <a href="/dashboard" class="btn-volver">Volver</a>
    </div>

    <div class="evento-list">

        <% if(!eventos || eventos.trim() === "") {%>
            <h2>Todavía no tienes eventos.</h2>
            <a href="/cuenta/crear-evento" id="confirmarEliminar" class="boton-accion editar" user-id="">Crear Evento</a>
        <% } else {%>  
            <%- eventos %>
        <% } %> 

    </div> 
</div>

<!-- Confirmation Modal -->
<div class="modal hidden">
    <div class="modal-contenido">
        <p>¿Estás seguro que quieres eliminar <span class="nombre-evento-eliminar"></span>?</p>
        <div class="modal-botones">
          <button id="confirmarEliminar" class="boton-accion editar" user-id="">Sí, eliminar</button>
          <button type="button" id="cancelar" class="boton-accion eliminar btnCancelar">Cancelar</button>
        </div>
    </div>  
</div>

<script src="/js/utilities.js"></script>