<% if (errores) { %>
    <ul class="error-container">
        <% errores.array().forEach(error => { %>
            <% if (error.msg !== "Invalid value") { %>
                <li class="error-item">
                    <span><%= error.msg %></span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-x-lg closeBtn" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </li>
            <% } %>
        <% }) %>
    </ul>
<% } %>

<% if (messages) { %>
    <div class="notice-container">
      <%- messages() %>
    </div>
<% } %>
  


<div class="contenedor-formulario">
    <div class="formulario">
        <form class="" id="loginForm" action="/cuenta/olvide-password" method="post">

            <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                    </svg>
                    <input type="email" id="email" name="usuario_email" required placeholder="correo@ejemplo.com">
            </div>

            <button class="boton-gris-sin-border iniciar-sesion a" type="submit">Enviar enlace de recuperación</button>            
      
            <p class="texto-centrado">
                ¿No tienes una cuenta? 
                <a href="/cuenta/registrar" class="link-registrarse">Regístrate aquí</a>
            </p>

        </form>
    </div>
</div>

<script src="/js/index.js"></script>