<% if (errores) { %>
    <ul class="error-container">
        <% errores.array().forEach(error => { %>
            <% if (error.msg !== "Invalid value") { %>
                <li class="error-item">
                    <span><%= error.msg %></span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-x-lg closeBtn" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </li>
            <% } %>
        <% }) %>
    </ul>
<% } %>


<div class="contenedor-formulario">
    <div class="formulario">
        <h2>Crear Nueva Cuenta</h2>
        <form class="" id="loginForm" action="/cuenta/registrar" method="post">

            <div>
                <input type="text" id="usuario_nombre" name="usuario_nombre" required placeholder="Nombre" value="<%= locals.usuario_nombre%>">
            </div>

            <div>
                <input type="text" id="usuario_apellido" name="usuario_apellido" required placeholder="Apellido" value="<%= locals.usuario_apellido%>">
            </div>

            <div>
            <input type="email" id="email" name="usuario_email" required placeholder="Correo Electrónico: correo@ejemplo.com" value="<%= locals.usuario_email%>">
            </div>
        
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                </svg>
                
                <input type="password" id="password" name="usuario_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{10,}$" placeholder="*****">

                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye ver-contrasena" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                </svg>
        </div>

        <p class="requisito">
            La contraseña debe tener al menos 10 caracteres, una letra mayúscula, un número y un carácter especial.
          </p>          

            <button href="#" class="boton-gris-sin-border iniciar-sesion a" type="submit">Registrarse</button>

            <p class="texto-centrado">
                ¿Ya tienes una cuenta? 
                <a href="/cuenta/login" class="link-registrarse">Ingresar</a>
            </p>
      
        </form>
    </div>
</div>

<script src="/js/index.js"></script>
    