<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <div class="contenedor">
      <%- include('../partials/header') %>

      <main>
        <!-- El body va a ser lo que este en index.ejs -->
        <%- body %>
      </main>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
