@import 'variables';

body {
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-family: $fuente_principal;
}

@media (min-width: 1400px) {
    body {
        background-color: #eee;
    }
}

.contenedor {
  background-color: #fff;
  margin: 0 auto;
  max-width: 1600px;
  padding: 20px;
}

h1,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
picture {
    width: 100%;
    display: block;
}