@import 'variables';

.texto_light {
    font-weight: $delgada;
}

.texto_bold {
    font-weight: $bold;
}

.boton-gris-sin-border {
    background-color: rgba(128, 128, 128, 0.3);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(128, 128, 128, 0.5);
    }
}

.contenedor-centrar-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.texto_gris {
    font-size: 0.9rem;
    color: #666; 
}

.notice-container{
  background-color: #6caf70;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px 35px;
  font-size: 17px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  animation: slideIn 0.5s ease-in-out, slideOut 0.5s ease-in-out 4s forwards;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.notice {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%)
  }

  to {
    opacity: 1;
    transform: translateX(0px)
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0px)
  }

  to {
    opacity: 0;
    transform: translateX(100%)
  }
}
