@import 'variables';

.texto_light {
    font-weight: $delgada;
}

.texto_bold {
    font-weight: $bold;
}

.boton-gris-sin-border {
    background-color: rgba(128, 128, 128, 0.3);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(128, 128, 128, 0.5);
    }
}

.contenedor-centrar-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.texto_gris {
    font-size: 0.9rem;
    color: #666; 
}

.notice-container{
  background-color: #6caf70;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px 35px;
  font-size: 17px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  animation: slideIn 0.5s ease-in-out, slideOut 0.5s ease-in-out 4s forwards;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.notice {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%)
  }

  to {
    opacity: 1;
    transform: translateX(0px)
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0px)
  }

  to {
    opacity: 0;
    transform: translateX(100%)
  }
}

.boton-accion {
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
}

.editar {
  background-color: #006994;
  color: #ffffff;

  &:hover {
    background-color: rgba(70, 130, 180);
  }
}

.eliminar {
  background-color: rgba(128, 128, 128, 0.3);

  &:hover {
    background-color: rgba(128, 128, 128, 0.5);
  }
}

button {
  border: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  padding: 20px;
}

.modal-contenido {
  background-color: #fff;
  padding: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.hidden {
  display: none
}