@import '../base/variables';
@import '../base/mixins';

.dashboard-titulo 
{
    margin-top: 35px;
    margin-bottom: 0;
}

.dashboard-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dashboard-opciones {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.dashboard-opciones a {
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #000;
    font-weight: bold;
    border: 1px solid #f5f5f5;
    justify-content: center;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

    

    &:hover {
        transform: scale(1.05);
    }
}

svg {
    color: #000;
}

@include telefono {
    .dashboard-opciones {
        max-width: 220px;
    }
}