@import '../base/variables';
@import '../base/mixins';

.dashboard-titulo 
{
    margin-top: 35px;
    margin-bottom: 0;
}

.dashboard-layout {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-opciones {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    width: 220px;
    align-items: center;
}

.dashboard-opciones a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding: 5px 0;
    border-radius: 8px;
    font-weight: bold;
    transition: transform 0.2s;
}

.dashboard-opciones a:hover {
    transform: scale(1.05);
}

.dashboard-opciones svg {
    color: #000; 
}

.dashboard-opciones span {
    font-size: 15px;
}

@include telefono {
    .dashboard-layout,
    .dashboard-opciones
     {
        align-items: start;
    }

    .dashboard-layout {
        padding: 20px;
        justify-content: start;
    }
}