.footer {
    background-color: #000;
    color: #fff;
    margin: 0 -20px -20px -20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
    }
}