@import "../base/globales";

.contenedor-formulario {
  margin: 25px 0;
}

.formulario {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
}

.formulario div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f5f5f5;
}

.formulario {

  .a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px;
    border: none;
  }

  p {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;

    .link-registrarse {
        text-decoration: underline;
        font-weight: bold;
        display: inline;
    }
  }
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  flex: 1;
  padding: 5px;
  font-size: 14px;
}

input::placeholder {
  font-style: italic;
}

svg {
  color: #666;
}

.requisito {
  margin-bottom: 15px !important;
  font-size: 0.9rem;
  color: #ff6b6b;
  background: #fff3f3;
  padding: 10px;
  border-radius: 5px;
  border-left: 4px solid #ff4d4d;
  text-align: left;
}

.ver-contrasena {
  cursor: pointer;
}

.formulario div:has(input:focus:invalid) {
  box-shadow: 0 0 2px rgba(255, 0, 0, 0.6); 
}
.formulario div:has(input:focus:valid) {
  box-shadow: 0 0 2px rgba(0, 200, 100, 0.6);
}

/* Formularios para actualizar informacion */ 

.contenedor-formularios-editar {
  flex: 1;

  label {
    font-size: 14px;
    margin-bottom: 3px;
    display: block;
    font-weight: bold;
  }

  input {
    color: #333;
  }

  input:focus {
    color: #000;
  }
}

.contenedor-btn-volver {
  max-width: 400px;
  margin: 30px auto 30px auto;

  a {
    font-size: 14px;
    background-color: #343330;
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #52514d;
    }
  }
}

.margin-top {
  margin-top: 30px;
}

