@import '../base/variables';
@import '../base/mixins';

.contenedor-titulo {
    margin: 20px 0;

    .proximos-titulo {
        margin: 0;
        font-size: 27px;
        color: #006994;
    }
}

.contenedor-eventos {
    @include grid(1, 30px);
    justify-items: center;
    align-items: center;

    @include telefono {
        @include grid(3, 30px);
    }

    @include desktop {
        @include grid(4, 30px);
    }
}

.evento {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 300px;
    margin-bottom: 20px;

    img {
        max-width: 300px;
        height: auto;
    }

    // a {
    //     display: inline-block;
    //     width: fit-content;
    //     max-width: 100%;
    // }
}

